* {
    margin: 0;
    padding: 0;
}

.notification {
    position:fixed;
    font-family: 'roboto';
    display: flex;
    flex-direction: row;
    padding: 15px;
    border: 1px solid gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 25%;
}

.text {
    width: 100%;
    border: 2px solid #000000;
}

.close {
    cursor: pointer;
    transition: .99ms;
    padding: 5px;
}

.close:hover {
    color: firebrick;
}

.popup {
    display: none;
}